<mat-sidenav-container class="pizza-container">
  
  <!-- Side nav -->
  <mat-sidenav mode="side" class="pizza-sidenav" opened>
    <mat-button-toggle-group #group="matButtonToggleGroup" id="mtbt">
      <mat-button-toggle (click)="setToggleValue('v')" mat-raised-button id="Veg" value="v">Veg</mat-button-toggle>
      <mat-button-toggle (click)="setToggleValue('n')" mat-raised-button id="NonVeg" value="n">Non Veg</mat-button-toggle>
    </mat-button-toggle-group>
    <br/><br/>
    <label for="price-range">Price Range</label><br/>
    <mat-slider id="price-range" min="100" max="600" [(ngModel)]="price" thumbLabel></mat-slider>
    <br/>
    <form>
      <mat-form-field>
        <mat-select (selectionChange)="search()" [(ngModel)]="selectedBase" placeholder="Favorite base" name="base">
          <mat-option *ngFor="let base of bases" [value]="base.value">
            {{base.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-select (selectionChange)="search()" placeholder="Favorite type" [(ngModel)]="selectedType" name="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <mat-card *ngFor="let pizza of pizzas$ | async" class="pizza-card">
      <mat-card-header class="pizza-card-header">
        <mat-card-title><h3>{{ pizza.name | uppercase }} </h3></mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <img width="150" src="{{pizza.image}}" alt="Photo of pizza">
        <ul class="pizza-list">
          <li>{{pizza.base}}</li>
          <li>{{pizza.type}}</li>
          <li>{{pizza.pizza}}</li>

        </ul>
      </mat-card-content>
      <div class="pizza-card-bottom">Rs. {{pizza.price}} /-</div>
      <mat-card-actions class="pizza-card-bottom">
        <button routerLink="/detail/{{pizza.id}}" mat-raised-button>ADD</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>